<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <param name="robot_description" command="cat $(find my_robot)/urdf/my_robot.urdf" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model my_robot -z 0.02" output="screen" />

  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" 
        args="0 0 0.1 0 0 0 base_footprint base_link 40" />

  <rosparam file="$(find my_robot)/config/joint_names_my_robot.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller arm_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" />
</launch>